# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\rustproject\study\wd_kv\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
